.movieList_container{
    height: 100%;
    overflow-y: scroll;
}

.movieList_item{
    padding-top: .4rem;
    display: flex;
    background-color: olivedrab;
}

.movieList_show{
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieList_hide{
    display: none;
}